<div class="text">
  <p class="mb-2 bold underline">{{item.chapterItemName | titlecase}}</p>
  <div class="title">
    {{item.title}}
  </div>
  <div class="desc">
    <span>instructions:</span>
    {{item.instructions}}
  </div>
    <a href={{item.assignmentTemplateUrl}} class="primary__btn download mt-3 mb-3" download="">Download Assignment</a>
    <div class="container" uploadDnd (fileDropped)="onFileDropped($event)">
      <input
        type="file"
        accept=".jpg,.png,.csv"
        #fileDropRef
        id="fileDropRef"
        (change)="fileBrowseHandler($event)"
      />
      <img src="../../assets/Upload to the Cloud.png" alt="" class="w-[120px] h-[120px] flex items-center justify-center" />
      <p class=" text-sm">Click to add file here</p>
    </div>
   <button class="outline__btn mt-2" (click)="submitAssignment()">Submit</button>
</div>

<div class=" absolute z-50 top-4 left-4">
  <button class="primary__btn" (click)="continue()">Done</button>
</div>