<div class="learning__main" (click)="proceedtToCourse()">
  <div class="learning__left">
     <app-course-bg [course]="course"></app-course-bg>
  </div>
  <div class="learning__right">
      <div class="myTag"  >
          <small class="tag text-[8px]" *ngFor="let tag of course.tags">
              {{tag}}
          </small>
      </div>
          <h4 class="text-[13px] leading-[1.2] font-black mt-1">
              {{course.title}}
          </h4>
          <div class="progress flex flex-col gap-3 mt-1">
              <small class="pb-1">
                  progress:
                  <p-progressBar [value]="0" [showValue]="false"></p-progressBar>
              </small>
          </div>
  </div>
</div>
