  <div class="flex flex-col justify-center h-[20vh]">
    <div class="h-[80px] p-2">
      <img src="../../../assets/logo/logo.png" alt="" />
    </div>
    <h3 class="text-center pt-2 text-[1.3rem] leading-[1.2] font-black mx-auto">
      Let's Create an Account
    </h3>
  </div>
  <div class="signup__container h-[80vh] bg-white rounded-[40px]">
    <div class="signup__content">
      <form class="form" class="form" [formGroup]="signupForm">
        <div class="form__group pb-1">
          <span class="p-float-label">
            <input pInputText id="name" formControlName="name" class="w-full" />
            <label htmlFor="name">Fullname</label>
          </span>
        </div>
        <div class="form__group pb-1">
          <span class="p-float-label">
            <input
              pInputText
              id="email"
              formControlName="email"
              class="w-full"
            />
            <label htmlFor="email">Email</label>
          </span>
        </div>
        <div class="form__group pb-1">
          <label for=""> Date of Birth *</label>
            <input type="date" formControlName="dateOfBirth" id="" class="w-full" />
        </div>
        <div class="form__group pb-1">
          <span class="p-float-label">
            <p-dropdown
              [options]="gender"
              class="full"
              formControlName="gender"
              placeholder="Select a Gender"
            ></p-dropdown>
            <label for=""> Gender *</label>
          </span>
        </div>
        <div class="form__group pb-1">
          <span class="p-float-label">
            <p-password
              id="password"
              formControlName="password"
              [feedback]="false"
              class="w-[100%]"
              [toggleMask]="true"
            ></p-password>
            <label htmlFor="password">Password</label>
          </span>
        </div>
        <div class="form__group pb-1">
          <span class="p-float-label">
            <p-password
              id="password"
              formControlName="confirmPassword"
              [feedback]="false"
              class="w-[100%]"
              [toggleMask]="true"
            ></p-password>
            <label htmlFor="password">Confirm Password</label>
          </span>
        </div>
        <small class="error" *ngIf="!checkPassword()"
          >Password don't match.</small
        >
        <!-- <small
            >By continuing, you agree to our Terms of Service and Privacy
            Policy</small
          > -->
        <div class="bottom">
          <button
            pRipple
            class="primary__btn next w-full"
            (click)="next()"
            [disabled]="!signupForm.valid || loading"
          >
            <i *ngIf="loading" class="pi pi-spinner pi-spin"></i>
            Next
          </button>
          <div class="join" routerLink="/login">
            Already have an account? <span>Log in</span>
          </div>
        </div>
      </form>
    </div>
  </div>
