<div class="pricing__card" *ngIf="category$ | async as category">
        <div *ngIf="!imageLoading" class="pricing__top" [ngStyle]="{'background-image': 'url(' + courseImage + ')'}" (click)="openVideo()" >

        </div>
        <div class="pricing__bottom">
            <div class="tag"  *ngIf="exists">
              Already Enrolled
            </div>
            <h2 [class]="'head__three' + ' ' + category.selected">
               {{category?.courseSelected?.pricePlan?.price == 0 ? 'Free' : category?.courseSelected?.pricePlan?.price  | currency: category?.courseSelected?.pricePlan?.currency :'symbol-narrow'}}
            </h2>
            <small>236 Students already enrolled</small>
            <div class="btn__group">
                  <button *ngIf="exists" pRipple class="primary__btn"   (click)="proceed() ">
                    Proceed to Course
                  </button>
                  <button *ngIf="!exists"  pRipple class="primary__btn" (click)="auth.isUserLoggedIn() ? process() : login() "> <i class="pi pi-spin pi-spinner" *ngIf="loading"></i>
                    {{auth.isUserLoggedIn() ?  'Enroll Now': 'Login to Enroll'}}
                  </button>
            </div>
        </div>
</div>

<p-dialog
[(visible)]="videoModal"
[modal]="true"
[draggable]="false"
[resizable]="false"

[style]="{ width: '70vw', height: '90vh' }"
>
<div class="modal__content">
  <app-video-modal [open]="videoModal" [videoId$]="videoId$"></app-video-modal>
</div>
</p-dialog>
