small {
  font-size: 12px;
  color: #616e7c;
}

.buy__now {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translate(-50%);
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 70px;
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  z-index: 999999;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.06);
}

.icons__link a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #616e7c;
}

.icons__link a img {
  height: 24px;
}
.buy__now img {
  height: 84px !important;
}

.buy__now small {
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .buy__now img {
    height: 106px !important;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 110px;
    background: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    z-index: 999999;
    border-radius: 60px 60px 0 0;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.06);
  }

  .icons__link a img {
    height: 36px;
  }
  small {
    font-size: 16px;
    color: #616e7c;
  }
}
