<div class="footer bg-white">
  <div class="icons">
    <div class="icons__link active">
      <a routerLink="/home">
        <img src="../../assets/sidebar/home.svg" alt="" />
        <small>Home</small>
      </a>
    </div>
  </div>
  <div class="icons">
    <div class="icons__link">
      <a routerLink="/cart">
        <img src="../../assets/sidebar/reward.svg" alt="" />
        <small>Cart</small>
      </a>
    </div>
  </div>
  <div class="icons">
    <div class="icons__link buy__now">
      <a routerLink="/cart">
        <img src="../../assets/sidebar/buy-now.svg" alt="" />
        <small>Cart</small>
      </a>
    </div>
  </div>
  <div class="icons">
    <div class="icons__link">
      <a routerLink="/help-center">
        <img src="../../assets/sidebar/service-hub.svg" alt="" />
        <small> Service hub </small>
      </a>
    </div>
  </div>
  <div class="icons">
    <div class="icons__link">
      <a routerLink="/profile">
        <img src="../../assets/sidebar/account-icon.svg" />
        <small> Account </small>
      </a>
    </div>
  </div>
</div>

