  <div class="flex flex-col justify-center h-[50vh]">
    <div class=" h-[100px] p-2 ">
      <img src="../../../assets/logo/logo.png"  alt="" />
    </div>
    <h3 class="text-center pt-2 text-[1.8rem] leading-[1.2] w-[60%] font-black mx-auto">Welcome to The Mirror</h3>
  </div>
    
  <div class="signup__container h-[50vh] bg-white rounded-[40px]">
    <div class="signup__content">
    
      <form class="form" class="form" [formGroup]="loginForm">
        <div class="form__group pb-1">
          <span class="p-float-label">
            <input
              pInputText
              id="email"
              formControlName="email"
              class="w-full"
            />
            <label htmlFor="email">Email</label>
          </span>
        </div>
        <div class="form__group pb-1">
          <span class="p-float-label">
            <p-password  id="password" formControlName="password" [feedback]="false" class="w-[100%]" [toggleMask]="true"></p-password>
            <label htmlFor="password">Password</label>
          </span>
        </div>
        <div class="bottom">
          <button
            pRipple
            class="primary__btn next w-full"
            (click)="signIn()"
            [disabled]="!loginForm.valid || loading"
          >
            <i *ngIf="loading" class="pi pi-spinner pi-spin"></i>
            Login
          </button>
          <div class="join flex justify-center  text-center" routerLink="/signup">
            Don't have an account? <span>Sign up</span>
          </div>
          <div class="join flex justify-center text-center" routerLink="/forgot-password">
            Forgot your password? <span>Click here</span>
          </div>
        </div>
      </form>
    </div>
  </div>
