.mylearning__top {
  height: 230px;
  background-size: cover;
  background: var(--primary-color);
  position: relative;
}

.profile__top {
  width: 90%;
  margin: auto;
  background: var(--blue);
  display: flex;
}

.profile__heading {
  color: var(--white);
  font-size: clamp(1.4rem, 2.5vw, 2rem);
  font-variation-settings: "wght" 800;
}

.profile__subtitle {
  color: var(--white);
}

.group__text {
  position: absolute;
  top: 20%;
  left: 13%;
}

.head__three {
  color: var(--white);
}

.head__one {
  color: var(--secondary-color);
}

.text {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.text i {
  padding: 10px;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.myLearning__body {
  width: 100%;
  margin: auto;
}

:host ::ng-deep .p-tabview-nav-container::before {
  content: "";
  width: 100vw;
  height: 60px;
  position: absolute;
  left: 0%;
  background: rgb(0, 0, 0);
}

.tab__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
  padding: 1rem;
}

:host ::ng-deep .p-tabview-nav {
  display: flex;
  justify-content: center;
}

:host ::ng-deep .p-tabview-title{
    font-size: 0.85rem;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus{
    box-shadow: none;
}
