  <div class="flex flex-col justify-center h-[60vh]">
    <div class="h-[80px] p-2">
      <img src="../../../assets/logo/logo.png" alt="" />
    </div>
    <h3 class="text-center pt-2 text-[1.3rem] leading-[1.2] font-black mx-auto">
      OTP Validation
    </h3>
    <p class="login__mobileTopContent text-center pt-1">
      Enter the code sent to your email.
    </p>
    <div class="clock">
      <i class="pi pi-clock pi-spin"></i>
      <p>{{ timeLeft }}</p>
    </div>

    <div class="loginForm__footer">
      <div [class]="timerOn ? 'hidden' : 'loginForm__info mb-2'">
        <p class="text-center">
          Haven't received the code?
          <a class="cursor-pointer" (click)="resendOTP()">Re-Send Code</a>
        </p>
      </div>
    </div>
  </div>
  <div class="signup__container h-[40vh] bg-white rounded-[40px]">
    <div class="signup__content">
      <form class="form" class="form" [formGroup]="otpForm">
        <div class="form__group pb-2">
          <span class="p-float-label">
            <input pInputText formControlName="otp" class="otp w-full" />
            <label for=""> OTP </label>
          </span>
        </div>

        <div class="bottom">
          <button
            pRipple
            class="primary__btn next w-full"
            [disabled]="!otpForm.valid || loading"
            (click)="verifyOtp()"
          >
            <i *ngIf="loading" class="pi pi-spinner pi-spin"></i>
            Verify
          </button>
        </div>
        <div class="join flex justify-center pt-2" routerLink="/signup">
          Don't have an account? <span>Sign up</span>
        </div>
      </form>
    </div>
  </div>
