<section class="courses" *ngIf="category$ | async as category">
  <div class="hero__two">
    <div class="heroTwo__body">
      <div class="heroTwo__content">
        <h2
          data-aos="fade-down"
          data-aos-duration="800"
          class="head__two font-bold text-white text-[1rem]"
        >
          Discover Our Wide Range of Courses
        </h2>
        <p
          data-aos="fade-in"
          data-aos-duration="800"
          class="subtitle text-[10px] pt-2 text-white"
        >
          Courses for personal development, life purpose, social connections,
          and spiritual well-being.
        </p>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center pb-3 pt-2">
    <p-selectButton
      [options]="courseCategories"
      [(ngModel)]="selectedCategory"
      (onChange)="changeCategory($event)"
    >
      <ng-template let-item>
        <div class="grouped__data">
          <p>{{ item }}</p>
        </div>
      </ng-template>
    </p-selectButton>
  </div>

  <ng-template [ngIf]="category.selected == 'young adult'">
    <div class="main__course pb-3">
      <div class="search mb-3">
        <i class="pi pi-search"></i>
        <input
          class="input_search"
          pInputText
          type="text"
          placeholder="Search keyword"
          (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
        />
      </div>
      <p-table
        #dt2
        [value]="courses$ | async"
        dataKey="id"
        [loading]="loading"
        [globalFilterFields]="['title', 'instructor']"
      >
        <ng-template let-item pTemplate="body" class="grid-3">
          <div
            class="course__card"
            pRipple
            data-aos="fade-in"
            data-aos-duration="1500"
            (click)="selectCourse(item)"
            [routerLink]="'/course-detail/' + item.courseId"
          >
            <div class="course__content">
              <div class="" *ngIf="loading">
                <p-skeleton
                  styleClass="mb-1"
                  width="8rem"
                  height="10rem"
                ></p-skeleton>
              </div>
              <div
                class="course__img"
                *ngIf="!loading"
                [ngStyle]="{
                  'background-image': 'url(' + item.courseCoverUrl + ')'
                }"
              ></div>
              <div class="course__text">
                <h4 class="title">{{ item.title }}</h4>
                <small class="instructor text-sm"
                  >Instructor:{{ item.instructor }}</small
                >
                <div class="myTag">
                  <div class="tag" *ngFor="let tag of item.tags">
                    {{ tag }}
                  </div>
                </div>
                <div class="pricing pt-1">
                  {{
                    item?.pricePlan?.price == 0
                      ? "Free"
                      : (item?.pricePlan?.price
                        | currency
                          : item?.pricePlan?.currency
                          : "symbol-narrow")
                  }}
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-table>
    </div>
    <app-footer></app-footer>
  </ng-template>

  <ng-template [ngIf]="category.selected == 'children'">
    <div class="main__course pt-2 pb-3">
      <div class="search mb-3">
        <i class="pi pi-search"></i>
        <input
          class="input_search"
          pInputText
          type="text"
          placeholder="Search keyword"
          (input)="dt3.filterGlobal($any($event.target).value, 'contains')"
        />
      </div>
      <p-table
        #dt3
        [value]="courses$ | async"
        dataKey="id"
        [loading]="loading"
        [globalFilterFields]="['title', 'instructor']"
      >
        <ng-template let-item pTemplate="body" class="grid-3">
          <div
            class="course__card"
            pRipple
            data-aos="fade-in"
            data-aos-duration="1500"
            (click)="selectCourse(item)"
            [routerLink]="'/course-detail/' + item.courseId"
          >
            <div class="course__content">
              <div class="" *ngIf="loading">
                <p-skeleton
                  styleClass="mb-1"
                  width="8rem"
                  height="10rem"
                ></p-skeleton>
              </div>
              <div
                class="course__img"
                *ngIf="!loading"
                [ngStyle]="{
                  'background-image': 'url(' + item.courseCoverUrl + ')'
                }"
              ></div>
              <div class="course__text">
                <h4 class="title">{{ item.title }}</h4>
                <p class="instructor">Instructor:{{ item.instructor }}</p>
                <div class="myTag">
                  <div class="tag" *ngFor="let tag of item.tags">
                    {{ tag }}
                  </div>
                </div>
                <div class="pricing pt-1">
                  {{
                    item?.pricePlan?.price == 0
                      ? "Free"
                      : (item?.pricePlan?.price
                        | currency
                          : item?.pricePlan?.currency
                          : "symbol-narrow")
                  }}
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-table>
    </div>
    <app-footer-two></app-footer-two>
  </ng-template>

  <ng-template [ngIf]="category.selected == 'adult'">
    <div class="main__course pt-2 pb-3">
      <div>
        <div class="search mb-3">
          <i class="pi pi-search"></i>
          <input
            class="input_search"
            pInputText
            type="text"
            placeholder="Search keyword"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
          />
        </div>
      </div>
      <p-table
        #dt1
        [value]="courses$ | async"
        dataKey="id"
        [loading]="loading"
        [scrollable]="true"
        scrollHeight="55vh"
        [globalFilterFields]="['title', 'instructor']"
        [virtualScroll]="true"
        [virtualScrollItemSize]="46"
      >
        <ng-template let-item pTemplate="body" class="grid-3">
          <div
            class="course__card"
            pRipple
            data-aos="fade-in"
            data-aos-duration="1500"
            (click)="selectCourse(item)"
            [routerLink]="'/course-detail/' + item.courseId"
          >
            <div class="course__content">
              <div class="" *ngIf="loading">
                <p-skeleton
                  styleClass="mb-1"
                  width="8rem"
                  height="10rem"
                ></p-skeleton>
              </div>
              <div
                class="course__img"
                *ngIf="!loading"
                [ngStyle]="{
                  'background-image': 'url(' + item.courseCoverUrl + ')'
                }"
              ></div>
              <div class="course__text">
                <h4 class="title">{{ item.title }}</h4>
                <p class="instructor">Instructor:{{ item.instructor }}</p>
                <div class="myTag">
                  <div class="tag" *ngFor="let tag of item.tags">
                    {{ tag }}
                  </div>
                </div>
                <div class="pricing pt-1">
                  {{
                    item?.pricePlan?.price == 0
                      ? "Free"
                      : (item?.pricePlan?.price
                        | currency
                          : item?.pricePlan?.currency
                          : "symbol-narrow")
                  }}
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-table>
    </div>
    <app-footer-two></app-footer-two>
  </ng-template>
</section>
